.main-menu {
    background: $main_color;
    border-top: 1px solid $secondary_color;
    border-bottom: 1px solid $secondary_color;
    margin-bottom: 2px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 55px;

    

    &__list {
        list-style: none;
        display: flex;
        padding-left: 25px;
        margin-right: 100px;
        white-space: nowrap;
        width: 100vw;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &--item {
            padding: 15px 0;
            position: relative;

            &.current-menu-item,
            &.current-menu-ancestor {

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background: $gradient;
                    transform: scaleY(0);
                    transition: transform .3s,
                                width .4s cubic-bezier(.8, 0, 0, 1) .3s;
                }

                &::before {
                    transform: scaleY(1);
                    width: 100%;
                }
            }
        }

        &--link {
            color: white;
            padding: 15px 25px;
            text-decoration: none;
            font-family: "Roboto Condensed", Impact, sans-serif;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            text-shadow: 0 0 8px rgba(0,0,0,.6);
            z-index: 10;
        }

        &--item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background: $gradient;
            transform: scaleY(0);
            transition: transform .3s,
                        width .4s cubic-bezier(.8, 0, 0, 1) .3s;
        }

        &--item:hover::before {
            transform: scaleY(1);
            width: 100%;
        }
    }

    &__overlay {
        width: 100px;
        background-image: linear-gradient(to left, $main_color,$main_color,$transparent);
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
    }
}

@media (max-width: 834px) {

    .main-menu {
        height: 40px;

        &__list {

            padding-left: 0;

            &--item {

                padding: 10px;
                
                &:last-of-type {
                   padding-right: 100px;
                }

            }

            &--link {

                font-size: 1.6rem;
                padding: 10px 15px;
            }
        }
    }
}