$main_color:            #10538a;
$secondary_color:       #26a9d4;
$accent_color:          #6ad6fa;
$virtuosic:             #ff9d11;
$text:                  #444444;
$gray:                  #787879;
$light_gray:            #dddddd;
$twitter:               #0084b4;
$facebook:              #3b5998;
$instagram:             #cd486b;
$google:                #ea4335;
$linkedin:              #0077B5;
$youtube:               #ff0000;
$maps:                  #3cba54;
$transparent:           rgba(0,0,0,0);
$gradient:              linear-gradient(154deg, $secondary_color 50%, $main_color);

$gutter:    25px;

